# Files with sensitive content #
################################
setupdev/config.json


# Python compiled/optimized #
#############################
*.pyo
*.pyc

# Junk files from editor #
##########################
*~
*.bak

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compressed Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
